<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="data source=192.168.21.111;database=PlanningBoard;User Id=sa;Password=x123@slts;Integrated Security=false;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>